<?xml version="1.0"?>
<model>
  <name>My_QuadPlane</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Tran Duy Anh</name>
  </author>

  <author>
    <name>Tran Anh Duy</name>
  </author>

  <description>
    This is a model of an Transition QuadPlane with ArduPilot integration.
  </description>
</model>
